@charset "UTF-8";

/* typical device breackponts
pequenas telas: até 600px
celular:600px até 768px
tablet:768px até 992px
desktops:992px até 1200px
grandes telas:1200px and more
 */


 /* tablet */
 @media screen and (min-width:768px) and (max-width:992px) {
     body {
        background-image: linear-gradient(to bottom, #5F2C82 30%,#4C9099,#94CFCD );
 }
    article#login {
        width: 80vw;
     }
    #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }
    div#formulario {
        float: right;
        width: 70%;
    }
    article p {
        padding: 10px;
        font-size: 1.2em;
        }
     input[type=submit] {
        width: 70%;
     }
}


/* desktop */
@media screen and (min-width:992px){
    body {
        background-image: linear-gradient(to bottom, #5F2C82 30%,#4C9099,#94CFCD );
 }
     article#login {
    width: 950px;
     }

    #imagem {
    float: right;
    width: 50%;
    height: 100%;
    }

    div#formulario {
    float: left;
    width: 50%;
    }
    
   h1 {
    font-size: 2em;
   }
    article p {
        padding: 10px;
        font-size: 1.2em;
        }
    input[type=submit] {
        width: 50%;
    }
}


